*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' Arial, Helvetica, sans-serif;
}
.container-max{
    margin: 0 auto;
    width: 100%;
    max-width: 1800px;
    border-radius: 36px;
    background: linear-gradient(80deg, #5B52A3 1.08%, #40B8EA 100%);
}
.container-min{
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
}
.header{
    margin-top: 40px;
    .header__title{
        padding: 45px 182px 62px;
        h5{
            color:  #FFF;
            font-size: 13px;
            font-weight: 300;
            line-height: 14px;
            margin-bottom: 29px;
        }
        h2{
            color:  #FFF;
            font-size: 48px;
            font-weight: 800;
            line-height: 60px;
        }
    }
}
.block__item{
    display: flex;
    gap: 58px;
    justify-content: center;
    margin-top: 103px;
    margin-bottom: 50px;
    .block{
        h3{
            color: #1F2428;
            font-size: 24px;
            font-weight: 700;
            line-height: 36px;
            margin-top: 40px;
            margin-bottom: 7px;
        }
        h4{
            color: #1F2428;
            font-size: 18px;
            font-weight: 300;
            line-height: 36px; 
            margin-bottom: 22px;
        }
        button{
            border-radius: 8px;
            background: #41B7E9;
            padding: 18px 0;
            width: 180px;
            border: none;
            color: #FFF;
            text-align: center;
            font-size: 15px;
            font-weight: 700;
            line-height: 18px;
            transition: 0.5s all ease;
        }
        button:hover{
            background-color: #4F83C5;
        }
    }
}